html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

textarea {
	resize: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------------------------reset*/

html, body {
	position: relative;
	height: 100%;
	color: #000;
	min-width: 980px;
	font: normal 13px/17px Arial, sans-serif;
}

body {
	background: #fff url(../i/header_back.jpg) 0 0 repeat-x;
}

.main_page:before {
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 197px;
	top: 88px;
	left: 0;
	content: "";
	background: #f6f5eb;
}

.no_bg.main_page:before {
	display: none !important;
}

body > .wrapper {
	height: auto !important;
	min-height: 100%;
}

.wrapper {
	z-index: 1;
	position: relative;
	width: 100%;
	min-width: 980px;
	overflow: hidden;
}

.base {
	width: 100%;
	min-width: 980px;
	max-width: 1500px;
	padding: 0 0 83px;
	margin: 0 auto;
	overflow: hidden;
}

/*---------------------------------------------------------------------------global*/
h1, h2, h3 {
	font-size: 1em;
	color: #000;
}

.ie {
	display: none;
}

a {
	color: #1a4bc9;
	text-decoration: underline;
}


a:visited, .s_c_link:visited span {
	color: #970093;
	border-color: #970093 !important;
}

a:hover, a:focus, .s_c_link:hover span {
	color: #ff0e00 !important;
	border-color: #ff0e00 !important;
}


.clear {
	clear: both;
}

.right {
	float: right;
}

.left {
	float: left;
}

/*---------------------------------------------------------------------------global*/
/*---------------------------------------------------------------------------header*/
.header {
	z-index: 20;
	position: relative;
	min-width: 980px;
	max-width: 1500px;
	padding: 88px 0 0;
	background: url(../i/header_right.jpg) 50% 0 no-repeat;
	overflow: hidden;
}

.no_bg .base .header{
	height:auto;
}

.main_page .header{
	height: 197px;
}

.header:before {
	z-index: 0;
	position: absolute;
	width: 979px;
	height: 74px;
	content: "";
	right: 0;
	top: 0;

}

/*------------------------------------------------------------------logo*/

.logo_w {
	z-index: 5;
	position: absolute;
	width: 23%;
	height: 37px;
	top: 28px;
	left: 0;
	text-align: center;
	overflow: hidden;

}

.logo {
	display: inline-block;
	width: 156px;
	height: 0;
	padding: 37px 0 0;
	text-decoration: none;
	vertical-align: top;
	background: url(../i/logo.png) 0 0 no-repeat;
	overflow: hidden;
}

/*------------------------------------------------------------------logo*/

/*-----------------------------------------------------------------------nav*/
.nav_wrap {
	position: absolute;
	width: 77%;
	top: 30px;
	left: 23%;
}

.nav{
	padding: 0 0 0 2%;
	font-size: 15px;
	line-height: 19px;
	overflow: hidden;
}



.nav a {
	display: block;
	padding: 0 0 5px;
	color: #4a4a4a;
	text-decoration: none;
}

.lv1 {
	position: relative;
	float: left;
	padding: 0 0 0 4%;
	background: url(../i/nav_border.png) 0 100% repeat-x;
}

.lv1:first-child {
	padding: 0 !important;
}

.lv1 a:hover, .lv1 a:focus {
	color: #ff6c00 !important;
	background: url(../i/nav_border_h.png) 0 100% repeat-x;
}

.lv1.mark a, .lv1.mark a:hover, .lv1.mark a:focus {
	color: #4a4a4a !important;
	font-weight: 700;
	background: url(../i/nav_border_mark.png) 0 100% repeat-x;
}

/*-------------------------------------------------nav*/

.breadcrumbs{
	position: absolute;
	top: 65px;
	left: 2%;
	overflow: hidden;
}

.breadcrumbs li{
	padding: 0 0 0 15px;
	float: left;
	color: #4a4a4a;
	font-weight: 700;
	background: url(../i/arrow.png) 5px 50% no-repeat;
}

.breadcrumbs li:first-child{
	padding: 0;
	background: none;
}

.breadcrumbs a{
	font-weight: 400 !important;
}
/*-------------------------------------------------info_wrap*/
.info_wrap {
	position: relative;
	width: 100%;

	padding: 5px 0;
	background: #f6f5eb;
	overflow: hidden;
}

.main_page .info_wrap {
	height: 187px;
}

.info_wrap:before, .main_row:before {
	position: absolute;
	width: 1px;
	content: "";
	background: url(../i/dots_vert.png) 0 0 repeat-y;
}

.info_wrap:before {
	top: 5px;
	left: 23%;
	bottom: 5px;
}

/*------------------------------form_wrap*/
.form_wrap {
	width: 23%;
	float: left;
}

.form {
	display: block;
	padding: 0 7% 0 6%;
	overflow: hidden; /*width: 191px;*/
/*margin: 0 auto;*/
}

.form dt {
	width: 43px;
	height: 21px;
	padding: 0 5px 10px 0;
	float: left;
	clear: both;
	text-align: right;
	line-height: 21px;
}

.form dd {
	height: 21px;
	padding: 0 8px 10px 0;
	overflow: hidden;
}

.form .one_col {
	padding: 0 0 10px 48px;
	clear: both;
}

.form input[type="text"], .form input[type="password"], .side_form input[type="text"] {
	width: 100%;
	height: 15px;
	padding: 2px;
}

.form input[type="submit"] {
	margin: 0;
}

#memory {
	position: relative;
	top: 2px;
	left: -2px;
}

.base .form .forgot {
	padding: 10px 0 5px 48px;
}

/*---------user_menu*/
.user_menu {
	width: 152px;
	padding: 0 0 0 39px;
	margin: 0 0 10px 6%;
	font-weight: 700;
	color: #4a4a4a;
	overflow: hidden;
}

.admin .user_menu{
	width: 180px;
}

.user_menu li, .user_menu_inner li:first-child, .c_i_f_menu li {
	background-image: url(../i/separator.png);
	background-repeat: no-repeat;
}

.user_menu li {
	padding: 0 9px 0 10px;
	float: left;
	background-position: 0 3px;
}

.user_menu a {
	font-weight: 400;
}

.user_menu li:first-child {
	padding: 0 9px;
	background: none;
}

/*----------user_menu*/
/*------------------------------form_wrap*/
.desc_ban_wrap {
	width: 77%;
	float: right;
}

.description {
	padding: 0 2% 22px;
	color: #535252;
	font-size: 16px;
	line-height: 20px;
	overflow: hidden;
}

.description strong {
	color: #eb1b15;
	font-weight: 700;
}

.description a {
	color: #ff6c00;
}

.b {
	padding: 0 2% 5px;
	overflow: hidden;
}

/*-------------------------------------------------info_wrap*/

.u_m_i_wrap {
	width: 23%;
	height: 34px;
	background: #f6f5eb;
	overflow: hidden;
}

.user_menu_inner {
	position: relative;
	width: 156px;
	height: 17px;
	right: -8px;
	padding: 8px 0 9px;
	margin: 0 auto;
	overflow: hidden;
}

.user_menu_inner li {
	padding: 0 8px;
	float: right;
}

.user_menu_inner li:first-child {
	background-position: 0 3px;
	padding: 0 8px 0 9px;
}

/*-----------------------------------------------------------------------------------header*/
/*--------------------------------------------------------------------------------main_row*/
.main_row {
	position: relative;
	width: 100%;
	padding: 20px 0 0;
	overflow: hidden;
}

.main_page .main_row:before, .inner_two_col .main_row:before {
	position: absolute;
	top: 25px;
	bottom: 0;
}

.main_page .main_row:before {
	right: 25%;
}

.inner_two_col .main_row:before {
	left: 23%;
}

.inner_two_col .where_buy.main_row:before, .inner_two_col .email_to_Drytech.main_row:before {
	display: none;
}

.content_row, .primary_row {
	position: relative;
	overflow: hidden;
}

/*------------------------------------------------------headlines*/

.h_line, .h_line a, .side_form dt {
	font-size: 16px;
	line-height: 18px;
	color: #ff6c00;
	font-weight: 400;
}

.h_line span {
	color: #848484;
}

.inner_two_col .h_line, .inner_one_col .h_line {
	position: relative;
	margin: 0 0 0 7px;
	border-bottom: 1px solid #fecb82;
}

.inner_two_col .content_row .h_line, .inner_one_col .content_row .h_line {
	margin: 0 0 12px;
}

.inner_two_col .h_line:before, .inner_one_col .h_line:before {
	position: absolute;
	width: 3px;
	height: 3px;
	top: 8px;
	left: -7px;
	content: "";
	background: #ff6b00;
}

.inner_two_col .primary_row .h_line {
	font-size: 15px;

}

.where_buy .h_line:before, .email_to_Drytech .h_line:before {
	display: none !important;
}

.where_buy .h_line, .email_to_Drytech .h_line {
	margin: 0 2% 20px !important;
	border: none !important;
}



.inner_two_col .content_row .h_line:before {
	left: -10px;
}

.cat_col .h_line:before {
	left: -12px;
}

.h_line.select {
	font-weight: 700;
}

.h_line_sub {
	padding: 0 0 5px;
	font-weight: 400;
	font-size: 15px !important;
	color: #4a4a4a !important;
	border:none !important;
}

.where_buy .h_line_sub {
	margin: 0 2% !important;
	padding: 0;
}

/*------------------------------------------------------headlines*/
/*------------------------------------------------------content_row*/
.content_row {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.main_page .content_row {
	float: left;
	margin: 0 -25% 0 0;
}

.main_page .content_wrap {
	margin: 0 25% 0 0;
}

.inner_two_col .content_row {
	float: right;
	margin: 0 0 0 -23%;
}

.inner_two_col .content_wrap {
	margin: 0 0 0 23%;
}

.inner_two_col .email_to_Drytech .content_wrap {
	position: relative;
	padding: 0 0 0 23%;
	margin: 0;
}

/*------------------------------------------------------cat_block*/

.cat_block {
	padding: 20px 2% 0;
}

.cat_block:first-child, .cat_block_full {
	padding: 0 2%;
}

.cat_list, .d_list, .e_list, .review, .comments, .s_list {
	padding: 0 0 14px;
	background: url(../i/dots_hor.png) 0 100% repeat-x;
}

.inner_two_col .cat_list {
	background: none;
}

.last .cat_list {
	padding: 0;
	background: none;
}

.cat_list {
	width: 100%;
	overflow: hidden;
}

.c_l_item {
	width: 25%;
	float: left;
}

.inner_two_col .c_l_item {
	padding: 0 0 21px;
}

.five, .six {
	display: none;
}

.five_item .c_l_item {
	width: 20%;
}

.six_item .c_l_item {
	width: 16.6%;
}

.five_item .five {
	display: block;
}

.six_item .five, .six_item .six {
	display: block;
}

.c_l_item dl {
	padding: 12px 17% 0 0;
}

.c_l_item dt {
	padding: 0 0 5px;
	overflow: hidden;
}

.c_l_img {
	float: left;
}

.c_i_f_img {
	margin: 0 9px 0 0;
	float: left;
}

.cat_block_full .c_i_f_img {
	margin: 0 20px 0 0;
}

.c_l_img img, .c_i_f_img img {
	display: block;
	border: 1px solid #c7c7c7;
}

.c_l_link {
	font-size: 15px;
	line-height: 17px;
	font-weight: 400;
}

.inner_two_col .c_l_link {
	display: block;
	padding: 0 0 6px;
}

.c_l_text {
	padding: 5px 0 0;
}

/*-----------------------cat_block*/
.c_item_full {
	padding: 0 0 34px;
	overflow: hidden;
}

.c_i_f_wrap {
	overflow: hidden;
}

.c_i_f_menu {
	padding: 0 0 13px;
	overflow: hidden;
}

.c_i_f_menu li {
	padding: 0 8px 0 9px;
	float: left;
	background-position: 0 3px;
}

.c_i_f_menu li:first-child {
	padding: 0 8px 0 0;
	background: none;
}

.cat_block_full .c_i_f_menu li, .r_menu li {
	padding: 0 0 0 8px;
	background: none;
}

.c_i_f_text p {
	padding: 13px 0 0;
}

.c_i_f_text p:first-child, .cat_block_full .c_i_f_menu li:first-child, .c_i_f_text h2:first-child, .c_i_f_func h2:first-child {
	padding: 0;
}

.cat_block_full .c_i_f_menu a, .r_menu li a {
	position: relative;
	display: block;
}

.cat_block_full .c_i_f_menu a:before, .r_menu a:before {
	position: absolute;
	width: 3px;
	height: 3px;
	top: 9px;
	left: 6px;
	content: "";
	background: #4a4a4a;
}

/*-----------------------cat_block*/
/*-----------------------cat_block_full*/
.cat_block_full {

}

.c_i_f_text, .c_i_f_func {
	margin: 7px 0 0;
}

.c_i_f_text h2, .c_i_f_func h2 {
	padding: 13px 0 0;
	color: #4a4a4a;
	font-size: 15px;
	font-weight: 400;
}

.c_i_f_text img {
	display: block;
	margin: 13px 0 0;
}

.c_i_f_doc_wrap{
	overflow: hidden;
}

.c_i_f_doc, .c_i_f_spec table, .where_buy table {
	width: 100%;
	margin: 7px 0 0;
	border: solid #ccc;
	border-width: 1px 0 0 1px;
}

.c_i_f_spec table {
	margin: 10px 0 0;
}

.c_i_f_spec table:first-child {
	margin: 7px 0 0;
}

.c_i_f_doc th, .c_i_f_spec th, .where_buy th {
	text-align: left;
	background: #f3f2f2;
}

.c_i_f_doc th, .c_i_f_doc td, .c_i_f_spec td, .c_i_f_spec th, .where_buy th, .where_buy td {
	padding: 7px 9px;
	border: solid #ccc;
	border-width: 0 1px 1px 0;
}

.c_i_f_spec th {
	width: 30%;
	vertical-align: top;
}

.second_td {
	width: 20%;
	vertical-align: top;
}

.file {
	width: 30%;
}

.date {
	width: 20%;
}

.size {
	width: 10%;
}

.c_i_f_doc a, .c_msg a {
	color: #ff6b00;
}

.c_i_f_func ul {
	padding: 7px 0 7px 11px;
}

/*-----------------------cat_block_full*/
/*------------------------------cat_col*/
.cat_col {
	width: 21%;
	padding: 0 2%;
	float: left;
}

.cat_col .h_line_sub {
	padding: 20px 0 5px !important;
}

.cat_col .h_line_sub:first-child {
	padding: 0 0 5px !important;
}

.c_c_wrap {
	padding: 0 0 35px;
	overflow: hidden;
}

/*------------------------------cat_col*/
/*------------------------------------------------------cat_block*/
/*------------------------------------------------------static*/
.static {
	padding: 0 2%;
}

.s_text {
	padding: 5px 4% 0 0;
}

.s_text p {
	padding: 13px 0 0;
}

.s_text p:first-child {
	padding: 0;
}

.s_text img {
	display: block;
	margin: 13px 0 0;
}

.s_text img.left {
	margin: 0 16px 5px 0;
	float: left;
}

.s_text img.right {
	margin: 0 0 5px 16px;
	float: right;
}

.static .other_info{
	padding: 15px 4% 20px 0;
}

.other_info {
	padding: 0 4% 20px 0;
	float: right;
	color: #898989;
	font-size: 11px;
	text-align: right;
}

.other_info a {
	display: block;
	font-size: 13px;
}

.external {
	padding: 0 17px 0 0;
	background: url(../i/external.png) 100% 0 no-repeat;
}

.external:hover{
	background-image: url(../i/external_h.png);
}

/*------------------------------------------------------static*/
/*------------------------------------------------------comments*/
.comments {
	padding: 23px 0 0;
	background-position: 0 0 !important;
	clear: both;
	overflow: hidden;
}

.c_msg {
	padding: 0 0 0 16px;
	background: url(../i/quot.png) 0 3px no-repeat;
}

.comments_list {
	padding: 0 4% 25px 0;
	overflow: hidden;
}

.com_l_item dl {
	padding: 0 0 0 9px;
	margin: 25px 0 0;
	border-left: 2px solid #fea001;
}

.com_l_item_sub {
	padding: 0 0 0 21px;
}

.com_l_item_sub dl {
	border-color: #3fa604;
}

.com_l_item dt {
	position: relative;
	padding: 0 12px 0 0;
	float: left;
	margin: -3px 0 0;
	font-weight: 700;
	color: #4a4a4a;
}

.comm_date {
	overflow: hidden;
}

.comment_text {
	position: relative;
	bottom: -3px;
	clear: both;
	overflow: hidden;
}

.comm_form {
	padding: 0 4% 0 0;
	overflow: hidden;
}

.comm_t_wrap {
	padding: 0 6px 5px 0;
}

.comm_form textarea {
	width: 100%;
}

.characters {
	float: left;
	color: #4a4a4a;
}

.characters span {
	font-weight: 700;
}

#send_comment {
	width: 95px;
	float: right;
}

/*------------------------------------------------------comments*/
/*------------------------------------------------------.where_buy*/
.where_buy table {
	width: 96% !important;
	margin: 7px 2% 20px !important;
}

.where_buy td:first-child {
	font-weight: 700;
}

.where_buy td{
	width: 20%;
}

/*------------------------------------------------------.where_buy*/
/*------------------------------------------------------.email_to_Drytech*/

.email_form {
	padding: 0 15% 0 2%;
}

.email_form li {
	padding: 0 0 10px;
}

.email_form label {
	position: absolute;
	width: 23%;
	height: 21px;
	left: 0;
	color: #4a4a4a;
	line-height: 21px;
	text-align: right;
}

.email_form label[for="fio"], .email_form label[for="tel"] {
	font-weight: 700;
}

.email_form input[type="text"] {
	width: 202px;
}

.t_wrap {
	padding: 0 6px 10px 0 !important;
}

.t_wrap textarea {
	width: 100%;
	height: 170px;
}

.email_form textarea{
	margin: 0 0 10px;
}

.tools_wrap{
	text-align: center;
}

.email_form .capcha label {
	position: static;
	display: block;
	width: auto;
	height: 18px;
	text-align: left;
	line-height: 16px;
	overflow: hidden;
}

.email_form .capcha input[type="text"] {
	width: 90px;
}

.capcha{
	display: inline-block;
	width: 220px;
	text-align: left !important;
}

.capcha img{
	margin: 0 10px 0 0;
	float: left;
}

#send_msg{
	margin: 18px -6px 0 0;
	float: right;
}

/*------------------------------------------------------.email_to_Drytech*/
/*------------------------------------------------------support*/
.support_content{
	padding: 0 2%;
}

.s_c_list li{
	padding: 0 0 5px;
	overflow: hidden;
}

.s_c_link{
	padding: 0 16px 0 0;
	color: #000;
	text-decoration: none;
}

.s_c_link span{
	border-bottom: 1px dotted #000;
}

.s_c_link:hover span, .s_l_item a:hover{
	border-color: #ff0e00 !important;
}

.s_c_list .s_c_date{
	display: inline-block;
}

.s_l_item{
	padding: 6px 0 0 10px;
	font-weight: 700;
	font-size: 15px;
	color: #4a4a4a;
}

.s_l_item a{
	font-weight: 400;
	text-decoration: none;
	border-bottom: 1px dotted #1a4bc9;
}

.s_l_item .parent_c_page{
	border: none;
}

/*------------------------------------------------------support*/
/*---------------------------------------------------------------------content_row*/
/*---------------------------------------------------------------------primary_row*/
.main_page .primary_row {
	width: 25%;
	float: right;
}

.inner_two_col .primary_row {
	width: 21%;
	float: left;
}

.aside_block {
	position: relative;
	padding: 0 4% 20px;
	overflow: hidden;
}

/*---------------------------------------------------------------------e_list*/
.no_bg .events {
}

.no_bg .e_list {
	padding: 0 0 40px;
}

.e_l_item, .a_l_item, .r_l_item {
	padding: 10px 0 0;
	overflow: hidden;
}

.e_date, .comm_date, .s_c_date {
	color: #898989;
	font-size: 11px;
	line-height: 15px;
}

.event_curr .e_text, .review_curr .r_text, .review_curr .r_text a, .event_curr a {
	font-weight: 700;
	color: #4a4a4a;
}

.arch_link {
	position: absolute;
	padding: 0 0 0 10px;
	bottom: 30px;
	right: 4%;
	background: url(../i/arrow_down.png) 0 50% no-repeat;
}

/*---------------------------------------------------------------------e_list*/
/*---------------------------------------------------------------------review*/
.review {
	padding: 0 0 14px !important;
	margin: 0 4% 20px !important;
}

.r_menu, .tags {
	padding: 3px 0;
	background: #f0f0f0;
	overflow: hidden;
}

.r_menu li {
	float: left;
}

.r_list {
	padding: 0 0 25px;
}

.r_text {
	font-weight: 400;
	font-size: 13px;
	line-height: 17px;
	color: #000;
}

.tags {
	padding: 5px 8px 2px !important;
	font-size: 12px;
	color: #4a4a4a;
}

.tags li {
	padding: 0 4px 4px 0;
	float: left;
}

.tags a {
	color: #4a4a4a;
}

.tag_select a {
	font-weight: 700;
	text-decoration: none !important;
}

/*---------------------------------------------------------------------review*/
/*---------------------------------------------------------------------b_side*/
.b_side {
	padding: 5px 4% 20px;
	overflow: hidden;
}

.b_side .b_link {
	float: left;
	clear: both;
}

.b_side img {
	display: block;
}

/*---------------------------------------------------------------------b_side*/
/*---------------------------------------------------------------------side_form*/
.side_form dl {
	width: 100%;
}

.side_form dt, .side_form dd {
	padding: 0 0 10px;
}

.side_form dd {
	width: 90%;
}

.side_form input[type="text"] {
	width: 100% !important;
}

.side_form input[type="submit"] {
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

#search_submit{
	width: 65px;
}

#subscribe{
	width: 105px;
}

/*---------------------------------------------------------------------side_form*/
/*---------------------------------------------------------------------cat_filter*/
.cat_filter {
	padding: 0 0 0 4%;
}

.c_f_b_list {
	padding: 3px 0 16px;
}

.cat_filter a, .cat_block_full .c_i_f_menu a, .r_menu a {
	position: relative;
	display: block;
	min-height: 17px;
	padding: 2px 6px 2px 15px;
}

.c_f_lv1 {
}

.c_f_lv1 a {

}

.c_f_lv2, .c_f_lv3 {
	padding: 0 0 0 9px;
}

.c_f_lv2 a {
	color: #4a4a4a;
	text-decoration: none;
}

.c_f_lv2 a:hover {
	text-decoration: none;
}

.c_f_lv2 a span{
	border-bottom: 1px dotted #4a4a4a;
}

.c_f_lv2 a:hover span{
	border-bottom: 1px dotted #ff0e00;
}

.parent_c_page {
	color: #4a4a4a !important;
	font-weight: 700 !important;
	text-decoration: underline !important;
}

.curr_page, .curr_page:hover, .curr_page:visited {
	position: relative;
	display: block;
	min-height: 17px;
	padding: 2px 6px 2px 15px;
	color: #4a4a4a !important;
	background: #f0f0f0;
	font-weight: 700;
	text-decoration: none !important;
	border: none !important;
	cursor: default;
}

.curr_page:hover span{
	border:none !important;
}

.parent_c_page span {
	border:none !important;
}

.curr_page:before {
	position: absolute;
	width: 4px !important;
	height: 4px !important;
	top: 7px !important;
	left: 5px;
	content: "";
	background: #ff6b00 !important;
	border: 1px solid #fff !important;
}

.r_menu .curr_page:before {
	left: 4px;
}

/*---------------------------------------------------------------------cat_filter*/
/*---------------------------------------------------------------------primary_row*/
/*---------------------------------------------------------------------------------main_row*/
/*-----------------------------------------------------------------------------------footer*/
.footer {
	position: absolute;
	width: 100%;
	height: 83px;
	bottom: 0;
	left: 0;
	background: url(../i/footer_img.jpg) 100% 100% no-repeat;
}

.footer_wrap{
	position: relative;
	min-width: 980px;
	max-width: 1500px;
	height: 83px;
	margin: 0 auto;
}

.copyright {
	position: absolute;
	bottom: 19px;
	left: 1.5%;
}

/*-----------------------------------------------------------------------------------footer*/
/*-----------------------------------------------------------------------------------admin*/
.admin .description{
	position: relative;
}

.admin .user_menu_inner{
	width: 174px;
}

.base .cat_filter .edit, .base  .cat_filter .del, .base  .c_i_f_menu .edit, .base  .h_line_sub .edit, .base  .s_list .edit, .base .s_list .del,.base  .a_c_list .del,.base  .file_wrap .del, .base .review_curr .edit, .base .comm_date .del{
	display: inline-block;
	padding: 0 !important;
	margin: 0 0 0 14px;
	vertical-align: middle;
	border:none;
}

.base .event_curr span{
	padding: 0 10px 0 0;
}

.wrapper .base .event_curr .edit{
	display: inline;
	padding: 0 24px 0 0 ;
	background-position: 0 50%;
}
.wrapper .base .event_curr .del{
	display: inline;
	padding: 0 14px 0 0 ;
	background-position: 0 50%;
}

.c_i_f_menu .edit:before{
	display: none !important;
}

.edit, .edit_ico{
	background-image: url(../i/edit_ico.png);
	background-repeat: no-repeat;
}

.del, .del_ico{
	background-image: url(../i/del_ico.png);
	background-repeat: no-repeat;
}

.del{
	display: block;
	width: 12px;
	height: 12px;
	text-decoration: none;
	background-position: 0 0;
}

.edit{
	display: block;
	width: 12px;
	height: 12px;
	text-decoration: none;
	background-position: 0 0;
}

.b_side .edit_wrap{
	padding: 0 0 0 5px;
	float: left;
}

.description .edit_wrap{
	position: absolute;
	width: 2%;
	right: 0;
	bottom: 25px;
}

.admin_controls{
	position: absolute;
	top: 65px;
	left: 2%;
	overflow: hidden;
}

.admin_controls li{
	padding: 0 30px 0 0;
	float: left;
}

.admin_controls a, .new_rubric, .where_buy .add_partner, .new_file{
	display: block;
	padding: 0 0 0 22px;
	font-weight: 700;
	color: #008e0a;
}

.base .where_buy .add_partner{
	display: inline-block !important;
	margin: 0 0 0 14px;
	font-size: 13px;
	vertical-align: middle;
}

.admin_controls .edit_ico{
	color: #ff6c00;
	background-position: 0 3px;
}

.add_ico, .new_rubric, .add_partner, .new_file{
	background: url(../i/plus_ico.png) 0 3px no-repeat;
}

.approve_ico{
	background: url(../i/approve.png) 0 0 no-repeat;
}
/*------------------------------------------admin_form*/
.admin_form{
	width: 100%;
	color: #4a4a4a;
	overflow: hidden;
}

.admin_form dl{
}

.admin_form dd, .textarea_wrap{
	padding: 3px 8px 10px 0;
}

.admin_form #title, .admin_form #alias, .a_f_table input, .a_f_two_r_list input, .d_email input{
	width: 100%;
	height: 16px;
	padding: 3px;
	color: #000;
	border: 1px solid;
	border-color: #a7a8af #d8dce3 #dfe5ec #dfe0e7;
}

.a_c_list dd input{
	width: 280px;
	height: 16px;
	padding: 3px;
	color: #000;
	border: 1px solid;
	border-color: #a7a8af #d8dce3 #dfe5ec #dfe0e7;
}

.user_cabinet .form_wrap .text_field{
	height: 16px;
	padding: 3px;
	color: #000;
	border: 1px solid;
	border-color: #a7a8af #d8dce3 #dfe5ec #dfe0e7;
}

.admin_form label{
	font-weight: 700;
}

.admin_form textarea{
	width: 100%;
	padding: 2px;
	color: #000;
	background: #fff;
	border: 1px solid;
	border-color: #a7a8af #d8dce3 #dfe5ec #dfe0e7;
}

.admin_form  .submit_wrap, .c_item_full .submit_wrap{
	margin: 20px 0 0;
	padding: 15px 0 0;
	border-top: 1px solid #d0d0d0;
	clear: both;
	overflow: hidden;
}

.submit_wrap span{
	float: right;
	padding: 3px 20px;
}

#admin_save{
	width: auto;
	float: right;
}

.a_f_table {
	width: 100%;
}
.a_f_table th{
	padding: 0 24px 0 0;
	text-align: left;
}

.a_f_table td {
	padding: 8px 24px 8px 0;
}

.name_col, .alias_col{
}

.num_col{
	width: 10%;
}

.a_f_table .control_col{
	width: 14px;
	padding: 8px 0;
}

.partner_control{
	width: 5%;
}

.where_buy td{
	width: 18%;
}


.p_control_list ul{
	width: 44px;
	margin: 0 auto;
	overflow: hidden;
}

.p_control_list li{
	padding: 0 0 0 15px;
	float: left;
}

.p_control_list li:first-child{
	padding: 0;
}

.where_buy .admin_form, .email_to_Drytech .admin_form{
	width: auto;
	padding: 0 2%;
}

.d_email {
	width: 209px;
}
/*----------------------------------------------*/
.a_f_two_r_list{
	margin: 0 39px 0 0;
	overflow: hidden;
}

.a_f_two_r_list li{
	width: 49%;
	float: left;
}

.a_f_two_r_list dd{
	padding: 0 38px 30px 0;
}

.admin_form .a_f_two_r_list span{
	font-weight: 400;
}

.descr_img{
	width: 130px;
	padding: 0 15px 0 0;
	float: left;
}

.admin_form .descr_img img{
	display: block;
	margin: 5px 0 0;
	border: 1px solid #c7c7c7;
}
/*----------------------------------------------*/
.a_c_list{
	padding: 22px 0 0;
	overflow: hidden;
}

.a_c_list .first{
	padding: 0 0 10px;
}

.img_name, .saved{
	display: inline-block;
	padding: 0 0 0 15px;
	vertical-align: middle;
}

/*----------------------------------------------*/
.a_c_doc_list{
	width: 100%;
	overflow: hidden;
}

.a_c_doc_list li{
	width: 100%;
	padding: 0 0 30px;
	overflow: hidden;
}

.file_wrap{
	width: 100%;
	padding: 0 0 10px;
	overflow: hidden;
}

.date_wrap{
	padding: 0 0 0 20px;
	float: right;
}

.a_c_doc_list label{
	display: block;
	padding: 0 0 5px;
}

.a_c_doc_descr{
	padding: 0 6px 0 0;
	overflow: hidden;
}

.a_c_doc_descr textarea{
	height: 80px;
}

.a_c_doc_list select{
	background: #fff;
	border: 1px solid;
	border-color: #a7a8af #d8dce3 #dfe5ec #dfe0e7;
}

.day{
	width: 50px;
}

.month{
	width: 100px;
}

.year{
	width: 60px;
}



/*------------------------------------------admin_form*/

.base .nav_wrap h1{
	padding: 0 0 5px;
	margin: 0 0 0 2%;
	float: left;
	font-size: 15px;
	line-height: 19px;
	color: #4a4a4a;
	font-weight: 400;
	background: url(../i/nav_border.png) 0 100% repeat-x;
	overflow: hidden;
}

.enter .form_wrap{
	position: relative;
	width: 560px;
	float: none;
	padding: 10px 0 15px;
	margin: 0 0 0 23%;
	background: #f6f5eb;
}

.enter .form_wrap dd{
	width: 143px;
}

.user_cabinet .form_wrap {
	position: relative;
	width: 77%;
	margin: 0 0 0 23%;
	left: -85px;
	float: none;
	padding: 20px 0 0;
	background: none;
}
.user_cabinet .form{
	padding: 0 2%;
}

.user_cabinet .form_wrap dd{
	width: auto;
}

.user_cabinet .form_wrap .text_field{
	width: 200px;
}

.user_cabinet .form_wrap dt{
	width: 85px;
}

.user_cabinet .form_wrap .one_col{
	    padding: 0 0 10px 88px
}

#show{
	position: relative;
	top: 3px;
}

.s_l_curr a{
	color: #4A4A4A;
	font-weight: 700;
	text-decoration: underline;
	border:none;
}

/*-----------------------------------------------comments*/
.comm_reg_form_wrap{
	padding: 10px 20px;
	margin: 10px 0;
	background: #f6f5eb;
}

.comm_reg_form{
	width: 100%;
	overflow: hidden;
}

.comm_reg_form dt{
	height: 23px;
	padding: 0 5px 0 0;
	float: left;
	line-height: 23px;
}
.comm_reg_form dd{
	height: 23px;
	padding: 0 30px 0 0;
	float: left;
	line-height: 23px;
}

.comm_reg_form .one_col{
	padding: 0;
}

.comm_reg_form .text_field{
	height: 15px;
	padding: 2px;
}

.comm_date .edit_ico, .comm_date .del_ico, .comm_date .approve_ico{
	display: inline-block;
	padding: 0 0 0 22px;
	margin: 0 0 0 15px;
	font-size: 13px;
	font-weight: 700;

}

.comm_date .edit_ico{
	color: #ff6c00;
}
.comm_date .del_ico{
	color: #ff5100;
}

.comm_date .approve_ico{
	color: #0f810a;
}

#keywords{
	height: 65px;
}

.keywords{
	display: block;
	padding: 15px 0 0;
}

.keywords span{
	font-weight: 400;
}

.review_mod .a_f_two_r_list{
	margin: 20px 0 0;
}

.review_mod .date_wrap{
	padding: 0 0 20px;
	float: none;
}
/*-----------------------------------------------------------------------------------admin*/
/*-----------------------------------------------------------------------------------print*/
@media print {
	.wrapper, .base, .content_row, .static, .main_row {
		padding: 0 !important;
		overflow: visible !important;
	}

	.print_header, .print_footer {
		display: block !important;
		padding: 10px 0;
		width: 100% !important;
	}

	.content_row {
		display: block !important;
		width: 95% !important;
		margin: 0 auto !important;
		float: none !important;
	}

	.catalog_product {
		padding: 0 !important;
	}

	.final_price {
		bottom: 0 !important;
	}

	.print_header img, .print_footer img {
		width: 100%;
	}

	.header, .footer, .aside, .bread_crumbs, .catalog_nav, .paginator, .zoom, .recommend, .comments, .p_c_footer, .download_1, .print, .buy {
		display: none !important;
	}

	.price span, .p_c_price, .f_price {
		color: #000 !important;
	}

	.dl_list input[type="checkbox"] {
		opacity: 1;
	}
}

